.navbar {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}
.navbar-link {
  padding: 0.2rem 1rem;
}
.navbar-link:hover {
  background-color: rgb(128, 43, 17);
}
@media (max-height:600px) {
  .navbar {
    flex-direction: column;
  }
}
@media (max-width:1250px) {
  .navbar {
    width: 60vw;
  }
}
@media (max-width:600px) {
  .navbar {
    width: 90vw;
  }
}